
/venv/

/.idea/
*.iml
*.ipr
*.iws

/my_encryption.egg-info/
/build/
/dist/
/__pycache__/
*.pyc
*.pyo
*.pyd

/.pytest_cache/
/.mypy_cache/

.DS_Store
Thumbs.db

.env
*.env
secrets.ini
config.ini

*.log
*.tmp
*.bak

*.ipynb
*.ipynb_checkpoints/

/docs/_build/